// VARIABLES

// General Background colors palatte
$color-brand-primary: #FFFFFF;
$color-brand-primary-blue: linear-gradient(177.6deg, #170034 4.86%, #34205F 85.36%);

$color-brand-secondary-lighter: #F5F5F5;
$color-brand-sceondary-danger: #FF0000;


// Navigation Text
$nav-text-primary-bold: rgba(0, 0, 0, 0.71);
$nav-text-primary-dark: #282828;
$nav-text-primary-info: #0AAA06;



// Sidebar Text Color
$sidebar-text-primary:rgba(255, 255, 255, 0.9);


// Body Background
$body-background: #343333;
$body-color-sceondary: #111C39;
$body-color-seconday-dim: #1B1137;
$body-background-darker:#1C1336;
$body-input: #F9FBFF;


// Body Text
$body-text-primary-lighter: #B5B7C0;
$body-color-primay-dim: rgba(41, 45, 50, 0.81);
$body-text-blue: #191E9E;
$body-background-btn: #4C34C2;
$body-small-text:#7E7E7E;


// General Styles