@use "sass:math";

// CUSTOM FONTS

@font-face {
    font-family: 'Poppins';
    src: url("@/assets/fonts/Poppins-Font-2/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'Inter';
    src: url("@/assets/fonts/Inter/Inter-Regular.woff");
}

// VARIABLES

// General Background colors palatte
$color-brand-primary: #FFFFFF;
$color-brand-primary-blue: linear-gradient(177.6deg, #170034 4.86%, #34205F 85.36%);

$color-brand-secondary-lighter: #F5F5F5;
$color-brand-sceondary-danger: #FF0000;


// Navigation Text
$nav-text-primary: #484848;
$nav-text-primary-bold: rgba(0, 0, 0, 0.71);
$nav-text-primary-dark: #282828;
$nav-text-primary-success: #0AAA06;



// Sidebar Text Color
$sidebar-text-primary: rgba(255, 255, 255, 0.9);


// Body Background
$body-background: #343333;
$body-color-sceondary: #111C39;
$body-color-seconday-dim: #1B1137;
$body-background-darker: #1C1336;
$body-input: #F9FBFF;


// Body Text
$body-text-primary-lighter: #B5B7C0;
$body-color-primay-dim: rgba(41, 45, 50, 0.81);
$body-color-primary-light: rgba(40, 40, 40, 0.8);
$body-color-primary-light-1: rgba(40, 40, 40, 0.52);
$body-color-primary-light-2: #404B52;
$body-text-blue: #191E9E;
$body-background-btn: #4C34C2;
$body-small-text: #7E7E7E;

// box-shadow-color
$nav-box-shadow-color: rgba(0, 0, 0, 0.13);
$body-box-shadow: rgba(0, 0, 0, 0.1);

// Border Colors
$nav-border-color: #E7E7E7;
$body-border-color: rgba(0, 0, 0, 0.07);
$body-border-color-2: rgba(0, 0, 0, 0.05);
$body-border-color-3:  rgba(0, 0, 0, 0.12);
$body-border-color-4: rgba(27, 17, 55, 0.22);
$table-border-color: rgba(67, 17, 207, 0.18);
$body-border-color-5: #EEEEEE;


// input
$form-colors:#E8E9EA;
$form-colors-darker: #949CA9;

//button
$button-color:  #1A1038;

// Border Measurement
$default-border-radius: 4px;

$default-border-1: 1px solid;
$default-border-2: 2px solid;
$default-border-3: 3px solid;
$default-border-4: 4px solid;


// margin and padding spacing Measurement
$default-spacing: 5px;

// standard Measurement that correlate with  figma 


@function calculate-value($value, $figma-screen-size: 1440px) {
    $screen-ratio: math.div($value,  $figma-screen-size);
    $result: calc($screen-ratio * 100vw);
    @return $result;
}

// letter-spacing
$default-letter-sapcing: -0.01em;

// FLEX BOX
$default-gap: 1;

// Standard Measurement for layout 
$nav-width: 230px;
$nav-height: 57px;


// Schedules variables
$default-height: 25px;
$thumb-background: gainsboro;
$time-line-color: #aeacac;
$v-slider-track-color: #10ec10;

// General Styles
select,
textarea,
input {
    &:hover,
    &:active,
    &:focus,
    &:focus-visible {
        border-color: $body-background-btn !important;
        box-shadow: none !important;
    }
}
a{
    text-decoration: none;
}

